* { 
    box-sizing: border-box;
}

#abajesus {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#soujesus, #proposito {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.apresentacaojesus {
    padding: 2rem 1rem 2rem 1rem;
    display: inline-flex;
    width: 94.8%;
    margin-top: 2rem;
    margin-left: 1rem;
    border: 3px outset #fff;
    border-radius: 1rem 0 1rem 0;
    background-color: hsla(0, 0%, 50%, 0.30);
}

a, abbr {
    text-decoration: none;
    color: #fff;
}

a:hover {
    text-decoration: underline;
}

a {
    color: #fbe762;
}
.falajesus {
    margin-top: 1rem;
    margin-left: 1rem;
    color: #fff;
}

.falajesus > h1 {
    font-weight: normal;
}

.falajesus > p {
    font-weight: normal;
    margin-top: .6rem;
    margin-left: 1rem;
    text-align: justify;
    width: 90%;
    line-height: 3.5vh;
    color: #fff;
    font-size: 1.2rem;
}

#propositojesus > .falajesus > strong {
    font-size: 1.4rem;
}

picture {
    margin-top: auto;
    margin-bottom: auto;
}

@media (max-width: 600px) {

    #soujesus, #proposito {
        width: 100%;
        margin: auto;
        margin-bottom: 3rem;
    }

    .apresentacaojesus {
        display: block;
    }

    .apresentacaojesus > picture > img {
        margin: auto;
        display: block;
        border-radius: 50%;
        border: 2px solid white;
    }

    #propositojesus > .falajesus > p {
        margin-bottom: 2rem;
    }

}