

#abajesus {
    background-color: var(--color-coffe);
    margin: 0 2rem 0 2rem;
}

#soujesus {
    display: block;
    margin: auto;
    border: 2px solid black;
}

#apresentacaojesus {
    padding: 2rem 1rem 2rem 1rem;
    display: inline-flex;
    border: 2px solid red;
    width: 94.8%;
}

#falajesus > p {
    margin-left: 1rem;
    text-align: justify;
}